/*
@media screen and (min-width:667px) {
    .app-content {
        padding: 0 10%;
    }

    .content{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0);
    }

}

@media screen and (min-width:1200px) {
    .app-content {
        padding: 0 25%;
    }
}*/

@media (orientation: landscape) {
    .column {
        width: 33.33%;
    }
}